<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.port.service.BoardNoticeMapper">

	<select id="boardNoticeList" resultType="com.port.service.BoardVo" >
	<![CDATA[	
		SELECT 
			* 
		FROM 
			TF_BOARD_NOTICE 
		WHERE 
			VIEWSTAT = 1
		ORDER BY 
			OBIDX DESC, RBIDX ASC
	]]>
	</select>

	<select id="boardNoticeCon" resultType="com.port.service.BoardVo" parameterType="int" >
	<![CDATA[	
		SELECT 
			* 
		FROM 
			TF_BOARD_NOTICE
		WHERE 
			BIDX = #{bidx}
	]]>
	</select>
				
</mapper>
 


