@CHARSET "UTF-8";

/*Default divTable----------------------------------------------------------------------------------------------------------------------------------- */

/*common divTable*/	
.divTable {
	width: 879px;		
}
.divTable .rowTitle {
	background: #ddd;	
	font-weight: bold;	
}
.divTable .col {
	float: left;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	text-align: center;		
}	
	          
/*cell4*/    
.divTable .col4_1 {
	width: 5%;
 }
.divTable .col4_2 {
	width: 40%;
 }   
.divTable .col4_3 {
	width: 30%;
 }   
.divTable .col4_4 {
	width: 25%;
 }    
     
/*cell5*/ 
.divTable .col5_1 {
	width: 5%;
 }
.divTable .col5_2 {
	width: 35%;
 }      
.divTable .col5_3 {
	width: 20%;
 }      
.divTable .col5_4 {
	width: 20%;
 }
.divTable .col5_5 {
	width: 20%; 
}
    
/*cell6*/
.divTable .col6_1 {
	width: 5%;
}
.divTable .col6_2 {
	width: 25%;
}
.divTable .col6_3 {
	width: 20%;
}
.divTable .col6_4 {
	width: 20%;
}
.divTable .col6_5 {
	width: 15%;
}
.divTable .col6_6 {		
	width: 126px;			
}



/* 미린이꺼 */


/*Default divTable----------------------------------------------------------------------------------------------------------------------------------- */